body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*===header===*/

.container-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px;
}

.header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.header-navi {
    color-scheme: #2E2F42;
    background-color: #f4f4fd;
}

.header-logo {
    color: var(--NAVY-BLUE, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-span {
    color: var(--IRIS, #2e2f42);
}

.header-menu-list {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.heder-menu-item {}

.header-menu-link {
    color: #2E2F42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF
}

.header-address {
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #f4f4fd;
}

.header-address-list {}

.header-address-item {}

.header-address-link {
    color: var(--SLATE, #434455);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF
}

/*===maine===*/

/*===Solutions===*/

.container-solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 120px;
    margin-left: 0;
}

.solutions {
    background: var(--NAVY-BLUE, #3d422e);
}


.main-solutions-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.main-solutions-btn {
    color: var(--WHITE, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
}

.main-solutions-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-solutions-btn:hover,
.main-solutions-btn:focus {
    color: #404BBF;
    background-color: #404BBF;
}

/*===Features===*/

.features {
    background-color: #f4f4fd;
}

.container-features {
    padding: 120px 0;
}

.features-title {}

.features-list {}

.features-list-item {}

.features-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 8px;
}

.features-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

/*===Team===*/
.team {
    background-color: #F4F4FD;
}

.container-team {
    padding: 120px 0px;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    Width: 162px;
    Height: 40px;
}

.team-list {}

.team-list-item {
    background-color: #FFFFFF
}

.team-image {}

.team-image-name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    margin-bottom: 8px;
}

.team-list-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 32px;

}

/*===Portfolio===*/

.portfolio {
    background: #FFF;
}

.container-portfolio {
    padding: 120px 0px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    Width: 218px;
    Height: 40px;

}

.portfolio-list {}

.portfolio-list-item {}

.portfoio-image {
    background: var(--WHITE, #FFF);
}

.portfolio-image-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    Width: 118px;
    margin-bottom: 8px;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 0;
    padding-right: 16;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    Width: 30px;
    padding-top: 0px;
    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16;
}

/*===Footer===*/
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.container-footer {
    padding-top: 100px;
    padding-left: 0px;
    padding-bottom: 100;
    padding-right: 0px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: var(--IRIS, #f4f4fd);
}

.footer-text {
    display: inline-block;
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 100px;
    max-width: 264px;
}